@model GetSearchProductListResult

<table id="mytable" class="table table-bordred table-striped">

    <thead>
    <th>Name</th>
    <th>CategoryName</th>
    <th>Manufacturer</th>
    </thead>
    <tbody>
        @foreach (var item in Model.SearchProductListResultItems)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.CategoryName</td>
                <td>@item.Manufacturer</td>
            </tr>
        }
    </tbody>

</table>