
@{
    ViewData["Title"] = "Search Product List";
}

<form asp-action="SearchProduct" data-ajax-update="#mytable" data-ajax="true" data-ajax-mode="replace" data-ajax-method="POST">
    <div class="form-group">
        <label for="searchbox">Password</label>
        <input type="text" class="form-control" id="searchbox" name="query" placeholder="Search here">
    </div>
    <button class="btn btn-secondary">Search</button>
</form>



<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="table-responsive">
                <table id="mytable" class="table table-bordred table-striped">

                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>CategoryName</th>
                            <th>Manufacturer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                        </tr>
                    </tbody>

                </table>

            </div>

        </div>
    </div>
</div>